body{
	background: #252528;
}

#cabecera{
	/*outline: 1px solid red;*/
	text-align: center;
	font-size: xx-large;
	width: 1050px;
	height: 220px;
	/*margin-left: 140px;*/
	margin-bottom: 40px;
	background: aliceblue;
}

#logoUrl{
	margin-top: -30px;
	margin-left: 30px
}
#contenedor{
	/*outline: 1px solid green;*/
	float: left;
    height: 760px;
    width: 1070px;
    margin-left: 140px;

}

#logo{
	width: 200px;
	
}

#logo img{
	width: 200px;
}

#env-url {
	margin-top: -137px;
	margin-left: 50px;
}

#url{
	border: 1px solid #393939;
	border-radius: 10px 10px 10px 10px;
	width: 600px;
    height: 60px;
    margin-bottom: 20px;
}

#analizar{
	border: 1px solid #393939;
	border-radius: 10px 10px 10px 10px;
	width: 200px;
	height: 40px;
	margin-left: 400px;
	display: block;

}


#sec-menu{
	/*outline: 1px solid red;*/
	width: 270px;
	height: 450px;
	/*margin-left: 140px;*/
	float: left;
	background: aliceblue;

}

.conf-esp{
	line-height: 170%;
}
.menu{
	list-style: none;
	line-height: 50px;
	/*outline: 1px solid red;*/
	padding-left: 0;
	width: 15em;
	margin: 2em auto;
    /*padding-top: 20px;*/
    margin-left: 15px;
}

.menu a{
	/*color: #ddd;*/
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
	--webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	color: black;
}

.menu a:hover{
	margin-left: 1em;
}

.menu li{
	/*outline: 1px solid green;*/
	box-shadow: 3px 0 rgba(29, 149, 173) inset;
	margin-bottom: 5px;
	padding-left: 1.5em;
	--webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.menu li:hover{
	box-shadow: 15em 0 rgba(29, 149, 173) inset
}

#contenido{
	width: 770px;
	height: 450px;
	/*outline: 1px solid blue;*/
    float: left;
    margin-left: 10px;
    background: gainsboro;
}
h2{
    background: darkgray;
    text-align: center;
}

#cont-linea{
	margin-left: 100px;
}

.inStyle{
	margin-left: 150px;
    margin-top: -17px;
    display: block;
    width: 300px;
}

#cont-sitios{
	text-align: center;
}

#cont-archivos{
	margin-left: 100px;
}

table{
    margin-left: 5px; 
    margin-top : 5px;
    border-color: black;
    border-spacing: 0px;
    border-collapse: separate;
}

td {
  border: black 1px solid;
  text-align: center;
  width: 210px;
}

th {
  border-left: black 1px solid;
  width: 200px;
}

.table-light{
    background-color: rgba(29, 149, 173);
    border: black 1px solid;
}

#cont-ocurrencia{
	text-align: -webkit-center;
}

thead, tbody { display: block; }

#bodyTabla {
    height: 112px;       
    overflow-y: auto;    
    
}

#cont-desImg{
	text-align: -webkit-center;
}



.content{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#contenid label{
	margin-left: 290px;
}

.scc.sky{

}
.scc.close{
	display: none;
}

ul li:hover a {
    background: rgba(29, 149, 173);
}

#sec-menu > ul > li > a:target {
    background: rgba(29, 149, 173);
    box-shadow: -22px 0 rgba(29, 149, 173);
  
}